<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8' />
    <title>Employee Schedule</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <a href="{{ url_for('worker_home') }}">Worker home</a>
    <input type="hidden" id="worker_login" value="{{ current_user.worker_login }}">
    <div class="calendar-container">
        <div class="controls">
            <button onclick="prevMonth()">Previous</button>
            <span id="currentMonth"></span>
            <button onclick="nextMonth()">Next</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <th>Sun</th>
                </tr>
            </thead>
            <tbody id="calendar-body"></tbody>
        </table>
    </div>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
