<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Форма уведомления об отсутствии</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $(function() {
          $("#start_date, #end_date").datepicker({
              minDate: 0,  // ограничение выбора прошлыми датами
              dateFormat: 'dd-mm-yy'
          }).on("change", function() {
              var startDate = $("#start_date").datepicker("getDate");
              $("#end_date").datepicker("setDate", startDate);
          });
      });
  </script>
</head>
<body>
  <a href="{{ url_for('worker_home') }}">Домашняя страница</a>
    <h2>Форма уведомления об отсутствии</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="{{ url_for('submit_absence_form') }}" method="post" enctype="multipart/form-data">
        <label for="start_date">Дата начала:</label>
        <input type="text" id="start_date" name="start_date" required><br>

        <label for="end_date">Дата окончания:</label>
        <input type="text" id="end_date" name="end_date" required><br>

        <label for="reason">Причина отсутствия:</label>
        <select id="reason" name="reason">
            <option value="Zwolnienie lekarskie">Заболел</option>
            <option value="Wizyta u dentysty">Посещение стоматолога</option>
            <option value="Wizyta u lekarza">Посещение врача</option>
            <option value="Załatwienie spraw z dokumentami">Решение документальных вопросов</option>
            <option value="Opieka na dziecko">Уход за ребенком</option>
            <option value="Zmiana miejsca zamieszkania">Переезд</option>
            <option value="other">Другое</option>
        </select><br>

        <label for="custom_reason">Своя причина (если выбрано "Другое"):</label>
        <input type="text" id="custom_reason" name="custom_reason"><br>

        <label for="file">Прикрепить файл (не более 10MB):</label>
        <input type="file" id="file" name="file" accept=".png,.jpg,.jpeg,.pdf,.heic"><br>

        <input type="submit" value="Отправить">
    </form>
</body>
</html>
